{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}

{{ with .Site.Params.Team }}
  <div class="row">
    <div class="twelve column">
      <h1 class="page-title">{{ .title }}</h1>
      <p>{{ .blurb }}</p>
    </div>
  </div>
  {{ range .runners.active }}
  <div class="row runner">
    <div class="three columns runner-portrait">
      <img src="{{ $baseurl }}img/runners/{{ .portrait }}" alt="{{ .name }}">
    </div>
    <div class="nine columns">
      <div class="runner-header">
        <h2>{{ .name }}</h2>
        |
        <i>{{ .archetype }}</i>
      </div>
      <blockquote class="runner-cue">{{ .cue }}</blockquote>
      <p class="runner-bio">{{ .bio | markdownify }}</p>
    </div>
  </div>
  {{ end }}
  {{ range .runners.inactive }}
  <div class="row runner inactive">
    <div class="three columns runner-portrait">
      <img src="{{ $baseurl }}img/runners/{{ .portrait }}" alt="{{ .name }}">
    </div>
    <div class="nine columns">
      <div class="runner-header">
        <h2>{{ .name }}</h2>
        |
        <i>{{ .archetype }}</i>
      </div>
      {{ if .status }}
        <span class="runner-status">{{ .status }}</span>
      {{ end }}
      <blockquote class="runner-cue">{{ .cue }}</blockquote>
      <p class="runner-bio">{{ .bio | markdownify }}</p>
    </div>
  </div>
  {{ end }}
{{ end }}
<div class="row"></div>
<div class="row"><div class="twelve columns">&nbsp;</div></div>

{{ partial "footer.html" . }}
