/* Font Configuration */
body {
    font-family: 'PT Serif', serif;
}

h1, h2, h3, h4, h5, h6, .sitename, .post-title-link, .navbar-link, .navbar-rlink {
    font-family: 'Raleway', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}
h2 {
    font-size: 3.2rem;
}

a {
    transition: all 0.4s ease-in-out;
}

.row.runner {
    margin-bottom: 3rem;
}
.runner .runner-portrait img {
    max-width: 100%;
    width: 100%;
    border-radius: 50%;
}
.runner.inactive .runner-portrait img {
    filter: grayscale(100%) brightness(50%);
}
.runner .runner-header * {
    display: inline-block;
    margin-bottom: 0;
}
.runner .runner-status {
    font-size: small;
    color: #d9534f;
}
.runner .runner-bio {
    margin-bottom: 0;
}
.runner .runner-cue {
    color: #888;
    font-style: italic;
    quotes: "\201C""\201D""\2018""\2019";
    margin: 1.5rem 0 1.7rem -0.5rem;
}
.runner.inactive .runner-cue {
    margin-top: 1rem;
}
.runner .runner-cue:before {
    color: #222;
    content: "\201C";
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}


.navbar + .docs-section {
    border-top-width: 0;
}
.navbar-spacer {
    display: none;
}


.row.hero {
    margin-bottom: 2rem;
}
.row.hero img {
    max-width: 100%;
}


/* light */
.color-scheme-light {
    color: #222;
    background-color: #fff;
}

.color-scheme-light p {
    line-height: 2rem;
}

.color-scheme-light a {
    color: #22aabb;
    text-decoration: none;
}

.color-scheme-light .sitename {
    text-decoration: none;
    color: #333;
    line-height: 4rem;
    font-size: 38px;
}
.color-scheme-light .site-subhead {
    font-size: 16px;
}

.color-scheme-light .container {
    color: #222;
    background-color:#fff;
}

.color-scheme-light .post-title, .color-scheme-light .page-title {
    font-weight: 500;
    font-size: 42px;
    color: #000;
    text-decoration: none;
    line-height: 3.5rem;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    margin-top: 1.5rem;
}
.color-scheme-light .post-title a {
    color: #000;
}
.color-scheme-light .page-title {
    margin-bottom: 2rem;
}

.row.post-meta {
    margin-top: 0;
    margin-bottom: 1.5em;
}

.color-scheme-light .post-title-link:hover {
    color: #22aabb;
}
.color-scheme-light .post-postedby {
    color: #888888;
    font-size: 12px;
    font-style: italic;
}
.color-scheme-light .tag-link {
    color: #22aabb;
}
.color-scheme-light .arrow-link, .copyright-link {
    color: #22aabb;
}
.color-scheme-light .cat-list-link {
    color: #333;
    text-decoration: none;
}
.color-scheme-light .cat-list-link:hover {
    color: #22aabb;
}
.color-scheme-light .navbar,
.navbar-spacer {
    display: block;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.color-scheme-light .navbar-link {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1rem;
    padding-right: 16px;
    text-decoration: none;
    line-height: 4rem;
    color: #222;
}
.color-scheme-light .navbar-rlink {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1rem;
    text-decoration: none;
    padding-right: 0px;
    margin-right: 0px;
    line-height: 4rem;
    color: #222;
}
.color-scheme-light .navbar-link.active, .color-scheme-light .navbar-rlink.active {
    color: #33C3F0;
}
.color-scheme-light .navbar-link:hover, .color-scheme-light .navbar-rlink:hover {
    color: #22aabb;
}


/* dark */
.color-scheme-dark {
    color: #fff;
    background-color:#000;
}

.color-scheme-dark p {
    line-height: 2rem;
}

.color-scheme-dark a {
    color: #fff;
    text-decoration: none;
}

.color-scheme-dark a:hover {
    color: #fff;
}
.color-scheme-dark .sitename {
    text-decoration: none;
    color: #282828;
    line-height: 4rem;
}

.color-scheme-dark .container {
    color: #888888;
    background-color:#000;
}

.color-scheme-dark .post-title-link {
    font-weight: 700;
    font-size: 34px;
    color: #444;
    text-decoration: none;
    line-height: 3.5rem;
}
.color-scheme-dark .post-title-link:hover {
    color: #2A9FD6;
}
.color-scheme-dark .post-postedby {
    color: #fff;
    font-size: 12px;
    font-style: italic;
}
.color-scheme-dark .tag-link {
    color: #77B300;
}
.color-scheme-dark .arrow-link, .copyright-link {
    color: #2A9FD6;
}
.color-scheme-dark .cat-list-link {
    color: #fff;
    text-decoration: none;
}
.color-scheme-dark .cat-list-link:hover {
    color: #2A9FD6;
}
.color-scheme-dark .navbar,
.navbar-spacer {
    display: block;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.color-scheme-dark .navbar-link {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1rem;
    padding-right: 16px;
    text-decoration: none;
    line-height: 4rem;
    color: #2A9FD6;
}
.color-scheme-dark .navbar-rlink {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1rem;
    text-decoration: none;
    padding-right: 0px;
    margin-right: 0px;
    line-height: 4rem;
    color: #2A9FD6;
}
.color-scheme-dark .navbar-link.active, .color-scheme-dark .navbar-rlink.active {
    color: #fff;
}
.color-scheme-dark .navbar-link:hover, .color-scheme-dark .navbar-rlink:hover {
    color: #fff;
}

@media screen and (min-width: 560px) {
    .nav {
        text-align: right;
    }
    .runner .runner-portrait {
        padding: 1rem 1rem 0 0;
    }
    .color-scheme-light .navbar-link {
        padding-top: 2.3rem;
        display: inline-block;
        line-height: 1em !important;
    }
}

@media screen and (max-width: 559px) {
    .columns.nav {
        margin-top: -1rem;
    }
    .color-scheme-light .sitename {
        font-size: 32px;
    }
    .color-scheme-light .site-subhead {
        font-size: 14px;
    }
}
