{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}

<!-- Posts -->
{{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
{{ range $paginator.Pages }}
<div class="row">
	<div class="twelve column">
		<h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
	</div>
</div>

<div class="row">
	<div class="twelve columns">
		<p style="margin-left:2px; padding-bottom:0px; margin-bottom:0px;">
			{{ .Summary }}
		</p>
	</div>
</div>
<div class="row">
	<div class="nine columns">
		<span class="post-postedby">posted by {{ .Params.author }} on {{ .Date.Format "Jan 02, 2006" }}</span>
	</div>
	<div class="three columns">
		<span style="font-size:small;">
			{{ with .Params.tags }}
			<i class="fa fa-tags"></i> {{ range . }}<a href="{{ $baseurl }}tags/{{ . | urlize }}" class="tag-link">{{ . }}</a> {{ end }}
			{{ end }}
		</span>
	</div>
</div>
<br>
{{ end }}
<div class="row">
	<div class="twelve columns">
		<center>
			{{ with $paginator.HasPrev }}
			<a href="{{ $paginator.Prev.URL }}" class="arrow-link"><i class="fa fa-arrow-circle-left fa-2x"></i></a>
			{{ end }}
			{{ with $paginator.HasNext }}
			<a href="{{ $paginator.Next.URL }}" class="arrow-link"><i class="fa fa-arrow-circle-right fa-2x"></i></a>
			{{ end }}
		</center>
	</div>
</div>

<div class="row">
	<div class="twelve columns">
		&nbsp;
	</div>
</div>

{{ partial "footer.html" . }}
