<div id="footer" class="row">
	<div class="twelve columns">
		<center>
			<span style="font-size: small;">
                          Built with <a href="https://gohugo.io" target="_blank" rel="noopener noreferrer">Hugo</a>.
                          Hosting provided by <a href="https://pages.gitlab.io/" target="_blank" rel="noopener noreferrer">GitLab Pages</a>.
			</span>
		</center>
	</div>
</div>
</div>

</body>
</html>

