<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
                <title>{{ .Title }}{{ if ne .Title .Site.Title }} | {{ .Site.Title }}{{ end }}</title>
		{{ with .Site.Author.name }}<meta name="author" content="{{ . }}">{{ end }}
		{{ .Hugo.Generator }}
		<meta name="viewport" content="width=device-width, initial-scale=1">
                <link href="https://fonts.googleapis.com/css?family=Raleway|PT+Serif" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/skeleton.css">
		<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/custom.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

                <link rel="apple-touch-icon" sizes="57x57" href="{{ .Site.BaseURL }}apple-icon-57x57.png">
                <link rel="apple-touch-icon" sizes="60x60" href="{{ .Site.BaseURL }}apple-icon-60x60.png">
                <link rel="apple-touch-icon" sizes="72x72" href="{{ .Site.BaseURL }}apple-icon-72x72.png">
                <link rel="apple-touch-icon" sizes="76x76" href="{{ .Site.BaseURL }}apple-icon-76x76.png">
                <link rel="apple-touch-icon" sizes="114x114" href="{{ .Site.BaseURL }}apple-icon-114x114.png">
                <link rel="apple-touch-icon" sizes="120x120" href="{{ .Site.BaseURL }}apple-icon-120x120.png">
                <link rel="apple-touch-icon" sizes="144x144" href="{{ .Site.BaseURL }}apple-icon-144x144.png">
                <link rel="apple-touch-icon" sizes="152x152" href="{{ .Site.BaseURL }}apple-icon-152x152.png">
                <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}apple-icon-180x180.png">
                <link rel="icon" type="image/png" sizes="192x192"  href="{{ .Site.BaseURL }}android-icon-192x192.png">
                <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}favicon-32x32.png">
                <link rel="icon" type="image/png" sizes="96x96" href="{{ .Site.BaseURL }}favicon-96x96.png">
                <link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}favicon-16x16.png">
                <link rel="manifest" href="{{ .Site.BaseURL }}manifest.json">
                <meta name="msapplication-TileColor" content="#ffffff">
                <meta name="msapplication-TileImage" content="{{ .Site.BaseURL }}ms-icon-144x144.png">
                <meta name="theme-color" content="#ffffff">
		{{ template "_internal/google_analytics.html" . }}
	</head>
	<body class="color-scheme-{{ .Site.Params.colorscheme }}">
		<div class="container" style="border-bottom: 0px solid #eee; margin-top: 1.5rem; margin-bottom: 1rem;">
			<div class="row">
				<div class="eight columns">
                                        {{ with .Site.Params.blogHeader }}
					<a href="{{ $.Site.BaseURL }}" class="sitename">{{ $.Site.Params.blogHeader | markdownify }}</a>
                                        {{ end }}
					{{ with .Site.Params.tagline }}
					<span class="site-subhead"> | <i>{{ . | markdownify }}</i></span>
					{{ end }}
				</div>
				<div class="four columns nav" >
					{{ with .Site.Menus.nav }}
					{{ $menuCount := len . }}
					{{ range $index, $element := . }}
					{{ if eq $index (sub $menuCount 1) }}
					<a class="navbar-rlink" href="{{ $element.URL | absURL }}">{{ $element.Name }}</a>
					{{ else }}
					<a class="navbar-link" href="{{ $element.URL | absURL }}">{{ $element.Name }}</a>
					{{ end }}
					{{ end }}
					{{ end }}
				</div>
			</div>
		</div>
		<div class="container">
			{{ with  .Site.Params.headerimg }}
			<div class="row hero">
				<div class="twelve columns">
                                  <img src="{{ $.Site.BaseURL }}img/{{ . }}">
				</div>
			</div>
			{{ end }}
                </div>
                <div class="container">
